<% provide(:title, "About") %>
<h1>About</h1>
<p>
We must be swift as a coursing river <br>
With all the force of a great typhoon <br>
With all the strength of a raging fire <br>
Mysterious as the dark side of the moon <br>
</p>