<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Run for the Huns</h1>

  <h2>
    Let's get down to business to defeat the Huns through running.
  </h2>

    <%= link_to "Sign up for our race!", signup_path, class: "btn btn-lg btn-primary" %>
</div>